@use '@/styles/variables.scss' as v;

.button {
  border: none;
  font-size: 14px;
  line-height: 24px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;

  &_primary {
    color: #fff;
    font-weight: 700;
    box-shadow: inset -1px 1px 3px 0 #ffffff0f, 2px 2px 3px 0 #ffffff30;
    background-color: #5e88d8;
  }
  &_outline {
    color: #5e88d8;
    background: none;
    border: 1px solid #5e88d8;
  }
  &_auto {
    width: auto;
  }
  &_full {
    width: 100%;
  }
}
