/* ---------------font-families--------------- */
$app-font-family: Lato, Helvetica, Arial, sans-serif;

/* ---------------colors--------------- */
//background
$cl-main-bg: #151629;
$cl-input-bg: #252635;
$cl-card-image-cover-bg: #35364d;

//foreground
$cl-main-color: #a1a1a1;

//shadow
$double-shadows-twilight: 2px 2px 3px 0 #0000001a, -1px -1px 2px 0 #ffffff0f;
