@use './variables' as v;
@use './libs/normalise';
@use './fonts';

:root {
  font-family: v.$app-font-family;

  color: v.$cl-main-color;
  background-color: v.$cl-main-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
